footer{
    margin-top:  30px;
    color: gray;
    font-size: 10px;
    text-align: center;
}

.btn:hover{
    background-color: #0d6efd;
}

.formulario{
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo{
    display: block;
    align-items: center;
    justify-content: center;
}   

.btn{
    width: 150px;
    margin: 5px;    
}

input{
    margin: 30px;
}